.login-page{
    height: 100vh;
    
    display: flex;
    

    
}
:root{
    --font:"Oswald"
}
*{
    font-family: "Oswald";
}
.login-box{
width: 50%;
display: flex;
justify-content: center;
align-items: center;

}

.login-container{
    width: 600px;
    height: 500px;
    background-color: violet;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-box{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    padding: 10px;
    font-size: 32px;
    font-family: var(--font);
    font-weight: 600;
    font-style: normal;
}
.footer{
    font-size: 22px;
    font-family: var(--font);
    font-weight: 600;
    font-style: normal;

}
.text-input {
    padding: 12px 24px;
    font-family: var(--font);
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.text-input:focus {
    border-color: #4CAF50;
}
.email-bar{
    padding: 40px;
}
.pass-bar{
    padding-bottom: 40px;
}
.login-btn{
    font-size: 28px;
    letter-spacing: 2px;
    padding: 10px 30px;
    background-color: #145DA0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.login-btn:hover {
    background-color: #45a049;
}
.img-f{
    object-fit: cover;
    width: 600px;
    height: 600px;

}
